---
layout: compress
---

<!DOCTYPE html>

{% include lang.html %}

<html lang="{{ lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
    {% include sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex flex-column">
      {% include topbar.html lang=lang %}
      <div class="container-fluid pl-xl-4 pr-xl-4">
        <div class="row">
          <div class="col-12" id="core-wrapper">
            {{ content }}

            {% include footer.html lang=lang %}
          </div>
        </div>
      </div>
    </div>

    {% include language-scripts.html %}
  </body>
</html>