---
layout: compress
---

<!DOCTYPE html>
<html
  lang="{{ site.lang | default: site.data.locales[site.default_locale].name | default: 'en' }}"
>
  {% include head.html %}

  <body>
    {% include lang.html %}
    {% include sidebar.html lang=lang %}

        <!-- Language-specific tabs -->
        {% if current_lang == 'es' %}
        <!-- Spanish tabs only -->
        {% for tab in site.tabs %} {% if tab.lang == 'es' %}
        <li class="nav-item">
          <a
            href="{{ tab.url | relative_url }}"
            class="nav-link{% if tab.url == page.url %} active{% endif %}"
          >
            <i class="fa-fw {{ tab.icon }}"></i>
            <span>{{ tab.title }}</span>
          </a>
        </li>
        {% endif %} {% endfor %} {% else %}
        <!-- English tabs only -->
        {% for tab in site.tabs %} {% unless tab.lang == 'es' %}
        <li class="nav-item">
          <a
            href="{{ tab.url | relative_url }}"
            class="nav-link{% if tab.url == page.url %} active{% endif %}"
          >
            <i class="fa-fw {{ tab.icon }}"></i>
            <span>{{ tab.title }}</span>
          </a>
        </li>
        {% endunless %} {% endfor %} {% endif %}
      </ul>

      <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100">
        {% unless site.theme_mode %}
        <button
          class="mode-toggle btn"
          type="button"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="{{ site.data.locales[site.lang].tooltip.light_or_dark }}"
        >
          <i class="fas fa-adjust"></i>
        </button>
        {% if site.toc and page.toc %}
        <button
          type="button"
          class="btn btn-link p-0 w-auto toc-trigger d-xl-none"
          id="toc-trigger"
        >
          <i class="fas fa-list-ul fa-fw"></i>
        </button>
        {% endif %} {% endunless %} {% include social.html %}
      </div>
    </div>

    <div id="main-wrapper" class="d-flex flex-column">
      {% include topbar.html %}

      <div class="row flex-grow-1">
        <div class="col-12 col-xl-8">
          <div class="pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4 mx-auto">
            {% include refactor-content.html content=content %}
          </div>
        </div>

        {% if site.toc and page.toc %}
        <div class="col-xl-3 ps-4 text-muted">
          {% include panel.html toc=true %}
        </div>
        {% endif %}
      </div>

      {% if site.google_analytics.pv.proxy_endpoint or
      site.google_analytics.pv.cache_path %} {% include pageviews.html %} {%
      endif %}
    </div>

    <div
      id="search-result-wrapper"
      class="d-flex justify-content-center d-none"
    >
      <div class="col-11 content">
        <div id="search-hints">{% include search-results.html %}</div>
      </div>
    </div>

    {% include search-loader.html %} {% include footer.html %} {% include
    language-scripts.html %}
  </body>
</html>
